h1 {
  padding: 0.2em;
  margin: 0.2em; }

p {
  padding: 0.1em;
  margin: 0.1em; }

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%; }

aside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%; }

.mapContainer {
  height: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%; }

.mapElement {
  height: 100%;
  width: 100%; }

@media screen and (min-width: 400px) {
  main {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
  aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
  .mapContainer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; } }

.row {
  padding-top: 0.5em; }

.previousLocationsDiv {
  height: 8em;
  overflow-y: scroll;
  font-size: 0.8em; }

select, input {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #61DAFB;
  box-sizing: border-box; }
